<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Page not found</title>
</head>
<body>
    <div class="alert alert-info"
         style="
         display: block;
         width: 400px;
         padding: 30px;
         margin: 50px auto auto;
         border-radius: 5px;
        ">
        Sorry, the page you requested is not found
    </div>
</body>
</html>